.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
}

/* Logo */
.navbar-logo-img {
  height: 40px;
}

/* Liens de la navbar */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s;
  }

  .logout-link {
    color: red !important;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .active-link {
    color: #3f51b5 !important;
  }

  /* Cache les liens pour les écrans plus petits */
  @media (max-width: 768px) {
    display: none;
  }
}

/* Icône de compte */
.account-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  cursor: pointer;
}

/* Bouton du menu burger (mobile) */
.menu-button {
  display: none;
  margin-left: auto;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }

  mat-icon {
    font-size: 28px;
    color: black;
  }
}

/* Améliorations possibles pour la navbar mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px; /* Réduire le padding sur les petits écrans */
  }

  .navbar-logo-img {
    height: 30px; /* Logo plus petit sur mobile */
  }

  /* Afficher les liens de la navbar dans le menu burger */
  .navbar-links {
    display: none; /* Les liens sont cachés par défaut */
  }

  .menu-button {
    display: block; /* Afficher le bouton du menu burger */
  }

  .navbar-links.show {
    display: flex; /* Afficher les liens quand le menu est ouvert */
    flex-direction: column; /* Mettre les liens sur une colonne */
    position: absolute;
    top: 64px; /* Sous la navbar */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .navbar-links a {
    padding: 10px 20px;
    width: 100%; /* Prenez toute la largeur pour les liens */
    text-align: left; /* Aligner les liens à gauche sur mobile */
  }
}
