.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 64px;
}

.navbar-logo-img {
  height: 40px;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;

  a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: color 0.2s;
  }

  .logout-link {
    color: red !important;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  .active-link {
    color: #3f51b5 !important;
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.account-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  cursor: pointer;
}

.menu-button {
  display: none;
  margin-left: auto;
  z-index: 1001;
  background: none;
  border: none;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }

  mat-icon {
    font-size: 28px;
    color: black; /
  }
}
