<!-- Navbar visible uniquement en mode desktop -->
<div class="navbar" *ngIf="isDesktop">
  <div class="navbar-logo">
    <img src="assets/logo_p6.png" alt="Logo" class="navbar-logo-img" />
  </div>
</div>
<div class="register-container">

  <!-- Formulaire d'inscription sans cadre -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Bouton retour avec flèche -->
    <button mat-icon-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> <!-- Icône de flèche vers la gauche -->
    </button>

    <!-- Conteneur du logo, visible uniquement sur mobile -->
    <div class="logo-container" *ngIf="!isDesktop">
      <img src="assets/logo_p6.png" alt="Logo" class="register-logo" />
    </div>

    <h2 class="register-title">S'inscrire</h2>

    <!-- Champ fullName -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nom d'utilisateur</mat-label> <!-- Label visible -->
      <input matInput formControlName="fullName" type="text" />
      <mat-error *ngIf="registerForm.get('fullName')?.hasError('required')">
        Nom complet requis
      </mat-error>
    </mat-form-field>

    <!-- Champ email -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Adresse e-mail</mat-label> <!-- Label visible -->
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
        Email requis
      </mat-error>
    </mat-form-field>

    <!-- Champ password -->
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label> <!-- Label visible -->
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
        Mot de passe requis
      </mat-error>
    </mat-form-field>

    <!-- Bouton S'inscrire -->
    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="isLoading">
      S'inscrire
    </button>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</div>
