<router-outlet></router-outlet>
<mat-sidenav-container class="sidenav-container">
  <!-- Sidenav mobile menu -->
  <mat-sidenav #sidenav mode="over" position="end">
    <a (click)="sidenav.close()" routerLink="/listArticle" routerLinkActive="active-link">Article</a>
    <a (click)="sidenav.close()" routerLink="/listTheme" routerLinkActive="active-link">Thème</a>
    <a (click)="sidenav.close()" routerLink="/me" routerLinkActive="active-link">
      <mat-icon class="account-icon">account_circle</mat-icon>
    </a>
    <a class="logout-link" (click)="logout(); sidenav.close()">Se déconnecter</a>
  </mat-sidenav>

  <!-- Navbar & main content -->
  <app-navbar [sidenav]="sidenav" *ngIf="shouldShowNavbar()"></app-navbar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
