/* Style global de la sidenav */
.sidenav-container mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  /* Aligner les éléments en haut */
  height: 100%;  /* Remplir toute la hauteur du conteneur */
  width: 250px;  /* Largeur de la sidenav */
  overflow-x: hidden;  /* Empêcher le scroll horizontal */
  overflow-y: auto;  /* Permettre le scroll vertical si nécessaire */
}

/* Centrer verticalement les liens et aligner à droite */
.sidenav-container mat-sidenav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-end;  /* Aligner les liens à droite */
  align-items: center;
  width: 100%;
  padding-right: 1rem;  /* Ajouter un padding à droite pour que les liens ne soient pas collés au bord */
  box-sizing: border-box;  /* Assure que le padding ne dépasse pas la largeur de l'élément */
}

/* Styling pour le lien "Se déconnecter" */
.sidenav-container mat-sidenav .logout-link {
  color: red !important;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

/* Classe active pour les liens */
.sidenav-container mat-sidenav .active-link {
  color: #3f51b5 !important;
}

/* Footer pour l'icône "account_circle" */
.sidenav-footer {
  position: absolute;  /* Permet de positionner en bas */
  bottom: 0;  /* Fixe la position en bas de la sidebar */
  width: 100%;  /* Assure que l'élément prend toute la largeur */
  display: flex;
  justify-content: flex-end;  /* Aligne l'icône à droite */
  padding: 1rem;  /* Ajoute une marge autour de l'icône */
  box-sizing: border-box;  /* Evite que le padding dépasse la largeur */
}

/* Icône "account_circle" */
.account-icon {
  font-size: 36px;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  cursor: pointer;
}

/* Lien "account_circle" avec l'icône */
.sidenav-container mat-sidenav .account-link {
  display: flex;
  justify-content: flex-end;  /* Aligne à droite */
  padding-bottom: 1rem;  /* Ajoute une marge en bas */
}
