<div class="home-container">
  <div class="home-card">
    <div class="logo-container">
      <!-- Logo situé dans assets -->
      <img src="assets/logo_p6.png" alt="Logo" class="logo">
    </div>

    <div class="button-container">
      <!-- Boutons "Login" et "Enregistrement" -->
      <button mat-raised-button class="home-button" routerLink="/login">
        Se connecter
      </button>
      <button mat-raised-button class="home-button" routerLink="/register">
        S'inscrire
      </button>
    </div>
  </div>
</div>
